*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
    font-family: 'Roboto', sans-serif;
}

#weak_pass{
    color: green;
}

.container{
    height: 100vh;
    width: 100wv;
    display: flex;
    justify-content: center;
    align-items: center;
}